@import './styles/variables.css';
@import './styles/reset.css';
@import './styles/global.css';
@import './styles/header.css';
@import './styles/hero.css';
@import './styles/landing.css';
@import './styles/footer.css';
