@import './styles/variables.css';
@import './styles/reset.css';
@import './styles/global.css';
@import './styles/header.css';
@import './styles/hero.css';
@import './styles/problems.css';
@import './styles/problems.css';
@import './styles/features.css';
@import './styles/social.css';
@import './styles/market.css';
@import './styles/footer.css';